#cont {
    text-align: center;
    margin-top: 50px
}

#add, #rurl {
    box-shadow: none;
    background-color: white;
    color: black;
    border: 1px solid black;
    font-family: 'Roboto Mono';
    padding: 3px;
    border-radius: 5px;
}

#rurl {
    padding-left: 8px
}

.link {
    font-family: 'Roboto Mono';
    background-color: black;
    color: white;
    padding: 4px;
    margin: 6px;
    text-decoration: none;
    border-radius: 5px
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 30px
}

#stat-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 200px   
}

#stat {
    font-family: 'Roboto Mono';
    margin-top: 100px;
    text-align: center;
    width: 100%;
}